certifi==2017.7.27.1
chardet==3.0.4
decorator==4.1.2
Django==2.0a1
django-oauth-toolkit==1.0.0
django-flat-responsive==2.0
docker==2.5.1
docker-pycreds==0.2.1
graphene==2.0.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
gunicorn==19.7.1
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
iso8601==0.1.12
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.9.6
MarkupSafe==1.0
oauthlib==2.0.6
parso==0.1.0
pexpect==4.2.1
pickleshare==0.7.4
promise==2.1
prompt-toolkit==1.0.15
psycopg2==2.7.3.1
ptyprocess==0.5.2
Pygments==2.2.0
pytz==2017.2
requests==2.18.4
Rx==1.6.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
traitlets==4.3.2
typing==3.6.2
urllib3==1.26.5
wcwidth==0.1.7
websocket-client==0.44.0
Werkzeug==0.12.2
celery==4.1.0
redis==2.10.6
