{% extends 'base.html' %}

{% block content %}
{% load static %}

<img src="{% static "css/bootstrap.css" %}" alt="My image"/>
        <div class='col-sm-6 text-center col-sm-offset-3'>
        <h3>Feed</h3>
        <p>
            <button type="button" class="btn btn-primary btn-md">
                New post
            </button>
        </p>
        {% if request.user.is_authenticated %}
            {% if posts %}
                <div class="text-center">
                    {% for post in posts %}
                    <div class='row'>
                        <h3><a href="#">{{ post.title }}</a></h3>
                        <b>{{ post.text }}</b><br/>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No posts have been written yet.<p>
            {% endif %}
        {% else  %}
            <p>No posts are available.<p>
        {% endif %}
        </div>

{% endblock %}
